/* LAYOUT */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1
}

aside {
  background-color: #000000;
  width: 50px;
  height: calc(100vh - 80px);
  float: left;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


main {
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow-y: auto;
  padding-top: 80px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}



footer {
  height: 80px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

}


.card {
  height: 150px;
  width: 150px;
  background-color: lightgreen;
  margin: 5px;

}
/* SIDEBAR */
.sidebar i {
  color: #fff;
  font-size: 30px;
  padding: 5px 10px;
}

.logo-spotify-menu {

}


@media all and (min-width: 768px){

}

@media all and (min-width: 992px){

}
