/* LAYOUT */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

header {
  height: 100px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1
}

aside {
  background-color: #000000;
  width: 50px;
  height: calc(100vh - 100px);
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}


main {
  height: calc(100vh - 100px);
  background-color: #141922;
  overflow-y: auto;
  padding-top: 100px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}



footer {
  height: 100px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

}


.card {
  height: 150px;
  width: 150px;
  background-color: lightgreen;
  margin: 5px;

}
/* SIDEBAR */
.sidebar {
 position: relative;
 padding-left: 11px;
}

.sidebar i {
  color: gray;
  font-size: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* spotify-menu-up */
.logo-spotify-mark i{
  font-size: 31px;
}

.fab.fa-spotify {
  color: #fff;
}

.logo-spotify img {
  width: 75%;
  display: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo-text {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.sidebar a, .sidebar i {
  color: gray;
}

a:hover i,
a:hover span {
  color: #fff;
}

.spotify-menu-up a{
  display: flex;
  align-items: center;
}

.spotify-menu-up span {
  margin-left: 10px;
}

/* spotify-menu-center */
.spotify-menu-center ul li a:hover {
  color: #fff;
}

.playlist-creator a{
  display: flex;
  align-items: center;
}

.playlist-creator .fa-plus-square {
  margin-right: 10px;
  font-size: 45px;
}

.spotify-menu-center li {
  margin-top: 12px;
  text-decoration: none;
}

.spotify-menu-center {
  display: none;
}

/* spotify-menu-down */
.spotify-menu-down {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 95%;
 background-color: #000000;
 padding-left: 11px
}

.my-download-app i {
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.my-account {
  margin-top: 5px;
}

.my-account i {
  font-size: 28px;
  margin-right: 10px;
}

.my-account span {
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  display: none;
}

.my-download-app, .my-account {
  display: flex;
  align-items: center;
}

.spotify-menu-down hr {
  border: 1px solid gray;
  display: none;
}

.my-download-app span {
  display: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
}

.button-upgrade {
  margin-right: 21px;
  margin-top: 40px;
}

.button-upgrade .my-btn-upgrade {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 12px 35px;
}

.button-upgrade .my-btn-upgrade:hover {
  font-size: 16px;
}

/* UTILITY */
.text-white {
  color: #fff;
}

.text-dark-blue {
  color: rgb(3, 27, 78);
}

.text-gray {
  color: gray;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.font-weight-bold {
  font-weight: bold;
}

.text-underscore {
  text-decoration: underline;
}

.bg-white {
  background-color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}







/* MEDIA QUERY */
@media all and (min-width: 768px){
  aside {
    width: 215px;
  }

  .logo-spotify-mark {
    display: none;
  }

  .logo-spotify img {
    width: 72%;
    display: block;
  }

  .logo-text {
    display: inline-block;
  }

  .spotify-menu-center {
    display: block;
  }

  .sidebar {
   padding-left: 17px;
  }

  .spotify-menu-down hr {
    display: block;
  }

  .my-account span {
    display: block;
  }

  .my-download-app span {
    display: inline-block;
  }


}

@media all and (min-width: 992px){

}
